<div class="title">
    <h2>GrassRoots</h2>
    <h3>platform to give customers more control of charity donations</h3>
    <div id="numberVerification" class="input-group input-group-md">
        <span class="input-group-addon" id="numIcon">Verification code: </span>
        <input id="number" type="number" class="form-control" placeholder="Verification number" aria-describedby="numIcon" ng-model="$ctrl.verNumber">
        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="$ctrl.validate()">Validate!</button>
        </span>
    </div>
</div>