.title {
  position: absolute;
  width: 600px;
  /*height: 200px;*/
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: rgba(100, 100, 0, 0.5);
  text-align: center;
  border-radius: 10px;
}

.title > h2 {
    font-family: 'Montserrat', sans-serif;
}

.title > h3 {
    font-family: 'Oswald', sans-serif;
}